.expense-amount {

  .__numbers {
    margin: 0 auto;
  }

  .__number {
    @include transition(background-color 300ms ease-out);
    width: $expenseAmountNumberSize;
    height: $expenseAmountNumberSize;
    display: inline-block;
    position: relative;
    padding: 10px;
    border-radius: 100%;
    background-color: transparent;
    font-size: 1.6rem;
    outline: 0;
    text-align: center;
    -webkit-appearance: none;
    border: 0;
    font-family: $robotoSlab;
    color: $secondaryColor;
    line-height: 1 !important;

    &:active,
    &:focus {
      background-color: $secondaryColorLight;
      color: #FFFFFF;
    }

    &.__backspace {
      padding-top: 15px;

      svg {
        fill: $secondaryColor;
        width: 30px;
        height: 30px;
      }
    }

    &:active svg,
    &:focus svg {
      fill: #FFFFFF;
    }
  }
}
