.expense-new {
  .__header {
    @include zig-zag-top(10px, $bodyBackground);
    @include zig-zag-bottom(10px, $bodyBackground);
    background-color: #FFFFFF;
    margin: 15px;
    padding: 0px 15px;
  }

  .__amount {

    .__currency {
      color: $textMutedColor;
      margin: 0;
    }

    .__value {
      color: $secondaryColor;
    }
  }
}
