.expenses {

  hr {
    border-color: $textMuted;
  }

  .__list {
    padding-top: $expensesHeaderHeight - 45px;

    .item {
      background-color: transparent;
      border: 0;
      margin: 0;
      padding: 5px 15px;
    }
  }

  .__details {

    .__amount {
      font-size: 22px;
      color: $secondaryColor;
    }

    .__date {
      font-size: 14px;
      margin-top: 6px;
      color: $textMuted;
    }

    .__description {
      font-size: 16px;
      color: $textMutedDarker;
    }
  }
}
