.expense-type {

  .__types {
    @include zig-zag-top(10px, $bodyBackground);
    @include zig-zag-bottom(10px, $bodyBackground);
    background-color: #FFFFFF;
    margin: 15px;
    padding: 0px 15px;
    line-height: 1 !important;

    &::before {
      top: -2px;
    }

    .__title {
      color: $secondaryColor;
      font-weight: 300;
    }
  }

  .__type {
    display: inline-block;
  }

  .__expense-icon {

  }
}
