.expense-header {
  position: absolute;
  z-index: 3;
  color: $textLight;
  width: 100%;

  .__header {
    position: relative;

    .__image {
      display: inline-block;
      width: 100%;
      height: $expensesHeaderHeight;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .__content {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
    }

    .__info {
      margin-top: 30px;
    }

    .__month,
    .__expenses-sum {
      color: $textLight;
    }

    .__month {
      margin-bottom: 10px;
    }

    .__expenses-sum {
      margin-top: 0;
    }

    .__prev-month,
    .__next-month {
      position: absolute;
      top: 50%;
      margin-top: -5px;
      color: $textLight;
    }

    .__prev-month {
      left: 10px;
    }

    .__next-month {
      right: 10px;
    }
  }
}
