.expense-description {

  .__type {
    .__expense-icon {
      vertical-align: middle;
      width: 45px;
      height: 45px;
      margin: 10px 0;
      margin-left: 15px;

      svg,
      path {
        width: 20px;
        height: 20px;
        margin: 12.5px;
      }
    }

    .__text {
      font-size: 16px;
      color: $secondaryColor;
    }
  }

  .__date {
    color: $secondaryColor;
  }

  .__description {
    margin-bottom: 10px;

    label {
      border: 0;
    }

    textarea {
      font-size: 16px;
      color: $secondaryColor;
      outline: none;
      font-family: $robotoSlab;
    }
  }
}
