.info {
  .__person {
    background: $secondaryColorLight;
    color: #FFFFFF;
    padding: 30px;
    font-weight: 300;
    line-height: 2;
  }

  a {
    color: gold;
    text-decoration: none;
    font-weight: 700;
    padding: 5px 15px;
    border: 1px solid #FFFFFF;
    display: inline-block;

    &:visited {
      color: gold;
    }

    &:hover,
    &:active {
      color: darken($mainColor, 15%);
    }
  }

  .__text {
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .ion-hammer {
    color: chocolate;
  }

  .ion-happy-outline {
    color: gold;
  }

  .ion-coffee {
    color: peru;
  }

  .ion-heart {
    color: red;
  }
}
