.settings {
  .__footer {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0 !important;
  }

  .smart,
  .spender {
    font-size: 50px;
    font-weight: 900;
    line-height: 1;
    color: $bodyBackground;
  }

  .spender {
    margin-bottom: 10px;
  }

  .ion-cash {
    font-size: 400px;
    color: lighten($secondaryColorLight, 45%);

    &::before {
      @include transform(rotate(-15deg) translateX(-20%) translateY(40%));
    }
  }

  .__header-image {
    width: 100%;
  }

  .title {
    color: $textLight;
  }

  .item,
  .item > i,
  .__text {
    color: $secondaryColor !important;
  }
}
