html, body {
  background-color: $bodyBackground;
  font-family: $robotoSlab;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $robotoSlab;
}

hr {
  border-top-width: 0;
}

.text-light {
  font-weight: 300;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}

.t-a-c {
  text-align: center;
}

.m-t-md {
  margin-top: $size-md !important;
}

.m-t-sm {
  margin-top: $size-sm !important;
}

.m-l-sm {
  margin-left: $size-sm !important;
}

.pane {
  background-color: $bodyBackground;
}

.content {
  padding: 1rem;
}

.popup-body {
  overflow: hidden;
}

.expense-icon {
  display: inline-block;
  border-radius: 100%;
  border: 1px solid $mainColor;
  width: $expenseTypeIconSize;
  height: $expenseTypeIconSize;
  margin: $expenseTypeIconSize/4 0;

  svg,
  path {
    width: $expenseTypeIconSize/2;
    height: $expenseTypeIconSize/2;
    margin: $expenseTypeIconSize/4;
    fill: $expenseIconFill !important;
    transition: fill .3s ease;
  }

  &:active,
  &:focus,
  .active & {
    background-color: $expenseIconFill;

    svg,
    path {
      fill: #FFFFFF !important;
    }
  }
}


.bar.bar-smart-spender {
  border-color: $mainColor;
  background-color: $mainColor;
  background-image: linear-gradient(0deg,$mainColor, $mainColor, 50%,transparent 50%);
  color: #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);

  .button-clear {
    color: #FFFFFF;
    font-size: 24px;
  }
}


.button.button-smart-spender {
  border-color: $secondaryColorLight;
  background-color: $secondaryColorLight;
  background-image: linear-gradient(0deg,$secondaryColorLight, $secondaryColorLight, 50%,transparent 50%);
  color: #fff;
}

.button-bottom {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0 !important;
}


.float-button {
  position: fixed;
  bottom: 24px; /* Adjust to where you want it */
  right: 24px; /* Adjust to where you want it */
  z-index: 9999;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 100%;

  .content {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0;
    background-color: $mainColor;
    transition: .3s ease-out;
    cursor: pointer;
    vertical-align: middle;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;

    i {
      line-height: 55.5px;
      font-size: 1.6rem;
      display: inline-block;
      text-align: center;
      color: #FFF;
    }
  }
}

.icon-white {
  color: #FFFFFF !important;
  transition: color 0.25ms ease-in;

  &:active,
  &:focus,
  &:visited {
    color: darken(#FFFFFF, 10%) !important;
  }
}
