<div class="expense-header">
  <div class="__header">
    <div ng-style="{ 'background-image': 'url(images/' + vm.headerImage + ')' }" class="__image"></div>
    <div class="__content">
      <button ng-click="vm.goMonth(-1)" class="button button-icon icon ion-chevron-left __prev-month"></button>
      <button ng-click="vm.goMonth(1)" class="button button-icon icon ion-chevron-right __next-month"></button>
      <div class="__info">
        <h4 class="__month">{{ vm.currentMonth }}</h4>
        <h2 class="__expenses-sum">{{ vm.expensesSum }} {{ vm.currencySymbol }}</h2>
      </div>
    </div>
  </div>
</div>
