/**
 * Define variables here
 */

$bodyBackground: #F5F5F5;

$mainColor: #F17859;
$secondaryColor: #4D6D67;
$secondaryColorLight: #54A6A2;

$textLight: #FFFFFF;
$textMuted: #CECECE;
$textMutedDarker: #BABABA;

$robotoSlab: 'Roboto Slab', serif;

$textColor: #CCCCCC;
$textMutedColor: #999999;

$expenseIconFill: $mainColor;
$expenseAmountNumberSize: 60px;
$expenseTypeIconSize: 45px;

$expensesHeaderHeight: 140px;

$size-md: 15px;
$size-sm: 5px;
