<ion-view title="Smart Spender" hide-back-button="true" class="expenses">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-android-add icon-white" nav-direction="forward" ui-sref="app.expenses.new.amount"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
   <button menu-toggle="left" class="button button-icon icon ion-navicon icon-white"></button>
  </ion-nav-buttons>
  <ion-header-bar class="bar-subheader" style="padding:0">
    <expenses-header header-image="settings.headerImage" currency-symbol="settings.currency.symbol_native"></expenses-header>
  </ion-header-bar>
  <ion-content>
    <div class="list __list">
      <a href="#" class="item" ui-sref="app.expenses.new.amount({ id: expense.id })" ng-repeat="expense in expenses track by expense.id" waves wave-classes="'waves-block'">
        <div class="row">
          <div class="col-20">
            <svg-image src="ExpenseTypeIconMap[expense.type]" class="expense-icon"></svg-image>
          </div>
          <div class="col __details">
            <h2 class="pull-left __amount">{{ expense.amount }} {{ settings.currency.symbol_native }}</h2>
            <span class="pull-right __date">{{ expense.date | date: 'dd.MM.yyyy.' }}</span>
            <hr class="clearfix">
            <h4 ng-if="!!expense.description" class="__description">{{ expense.description }}</h4>
          </div>
        </div>
      </a>
    </div>

  </ion-content>

  <div class="float-button">
    <a ui-sref="app.expenses.new.amount" class="content" nav-direction="forward" waves wave-classes="'waves-circle'">
      <i class="ion-plus-round"> </i>
    </a>
  </div>
</ion-view>
