<ion-view title="Enter Description">
	<ion-content>
    <div class="expense-description">
      <div class="__header">
        <h4 class="__date text-light" ng-click="choseDate(expense)">{{ expense.date | date:'dd.MM.yyyy' }}</h4>
        <hr>
        <div class="__amount">
          <span class="pull-left" ng-show="settings.showCurrency">
            <h4 class="text-light __currency">{{ settings.currency.symbol_native }}</h4>
          </span>
          <span class="pull-right">
            <h3 class="text-light __value">{{ expense.amount | number: 2 }}</h3>
          </span>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="__type">
          <span class="__text">{{ ExpenseTypeMap[expense.type] }}</span>
          <svg-image src="ExpenseTypeIconMap[expense.type]" class="expense-icon __expense-icon"></svg-image>
        </div>
        <div><hr></div>
        <div class="__description">
          <label class="item item-input">
            <textarea placeholder="Optional Description" ng-model="expense.description"></textarea>
          </label>
        </div>
      </div>
    </div>
  </ion-content>
	<button class="hide-on-keyboard-open button button-large button-block button-smart-spender button-bottom" ng-click="save(expense)">Finish</button>
</ion-view>
