<ion-view title="Add amount">
  <ion-nav-buttons side="right">
    <button ng-show="!isNew" ng-click="deleteExpense(expense)" class="button button-icon icon ion-ios-trash-outline icon-white"></button>
  </ion-nav-buttons>

  <ion-content>
    <div class="expense-amount">
      <div class="__header">
        <h4 class="text-light">Enter an expense</h4>
        <hr>
        <div class="__amount">
          <span class="pull-left" ng-show="settings.showCurrency">
            <h4 class="text-light __currency">{{ settings.currency.symbol_native }}</h4>
          </span>
          <span class="pull-right">
            <h3 class="text-light __value">{{ expense.amount | number: 2 }}</h3>
          </span>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="__numbers">
        <div class="row" ng-repeat="group in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]">
          <div class="col-33 t-a-c" ng-repeat="number in group">
            <button class="__number" ng-click="vm.append(number)" waves wave-classes="'waves-circle'">{{ number }}</button>
          </div>
        </div>

        <div class="row">
          <div class="col-33 t-a-c">
            <button class="__number" ng-click="vm.putDecimalPoint()" waves wave-classes="'waves-circle'">,</button>
          </div>
          <div class="col-33 t-a-c">
            <button class="__number" ng-click="vm.append(0)" waves wave-classes="'waves-circle'">0</button>
          </div>
          <div class="col-33 t-a-c">
            <button class="__number __backspace" ng-click="vm.removeRight()" waves wave-classes="'waves-circle'">
              <svg-image src="'images/icon-backspace.svg'"></svg-image>
            </button>
          </div>
        </div>
      </div>

    </div>
  </ion-content>

  <a ui-sref="app.expenses.new.type({id: expense.id})" nav-direction="forward" class="button button-large button-block button-smart-spender button-bottom">Next</a>

</ion-view>
