<ion-view title="Choose Type">
  <ion-content>
    <div class="expense-type">

      <div class="__header">
        <h4 class="text-light" ng-click="choseDate(expense)">{{ expense.date | date:'dd.MM.yyyy' }}</h4>
        <hr>
        <div class="__amount">
          <span class="pull-left" ng-show="settings.showCurrency">
            <h4 class="text-light __currency">{{ settings.currency.symbol_native }}</h4>
          </span>
          <span class="pull-right">
            <h3 class="text-light __value">{{ expense.amount | number: 2 }}</h3>
          </span>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="__types">
        <h4 class="__title">Select a category</h4>
        <hr>
        <div class="row" ng-repeat="group in expenseTypesGroupped">
          <div class="col-33 t-a-c" ng-repeat="expenseType in group" >
            <div class="__type" ng-click="selectType(expenseType.id)" ng-class="{'active': expense.type === expenseType.id}">
              <svg-image src="ExpenseTypeIconMap[expenseType.id]" class="expense-icon __expense-icon"></svg-image>
              <br>
              {{ expenseType.type }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
