<ion-view title="Info" class="info">
  <ion-nav-buttons side="left">
   <button menu-toggle="left" class="button button-icon icon ion-navicon icon-white"></button>
  </ion-nav-buttons>
  <ion-content>
    <h2 class="t-a-c __text"><i class="ion-hammer"></i> for <i class="ion-happy-outline"></i> with <i class="ion-coffee"></i> and <i class="ion-heart"></i></h2>
    <h3 class="t-a-c m-t-md __person">
      Designed by the amazing <a class="m-t-sm" target="blank" href="http://www.ibjelajac.com/">Ivan Bjelajac</a>
    </h3>
    <h3 class="t-a-c __person">
      Coded by <a class="m-l-sm" target="blank" href="http://www.petarslovic.com/">Petar Slovic</a>
    </h3>
  </ion-content>
</ion-view>
