<ion-view title="Choose Header Image" class="settings">
    <ion-content>
        <div class="list">

          <div class="item" ng-repeat="image in vm.headerImages">
            <img ng-src="images/{{ image }}" class="__header-image" ng-click="vm.saveHeaderImage(image)">
          </div>

        </div>
    </ion-content>

</ion-view>
