<ion-view title="Settings" class="settings">
  <ion-nav-buttons side="left">
   <button menu-toggle="left" class="button button-icon icon ion-navicon icon-white"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">

        <ion-toggle ng-model="vm.showCurrency" ng-change="vm.saveSettings('showCurrency', vm.showCurrency)">
            <span class="__text">
                Show Currency
            </span>
        </ion-toggle>

        <label class="item item-input item-select" ng-show="vm.showCurrency">
          <div class="input-label __text">
            Currency
          </div>
          <select ng-model="vm.selectedCurrency" ng-options="currency.code for (code, currency) in vm.currencies" ng-change="vm.saveSettings('currency', vm.selectedCurrency)">
          </select>
        </label>

        <a class="item item-icon-right" href="#/app/settings/header-image">
          Header Image
          <i class="icon ion-ios-arrow-right"></i>
        </a>

    </div>
  </ion-content>
</ion-view>
