<ion-view title="Stats" class="stats">
  <ion-nav-buttons side="left">
   <button menu-toggle="left" class="button button-icon icon ion-navicon icon-white"></button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-if="vm.expenses.length">
      <h3 class="__title">
        On average, you spend {{ vm.monthAverage }}
        <span ng-show="settings.showCurrency">{{ settings.currency.symbol_native }}</span>
        a month.
      </h3>
      <canvas id="pie" class="chart chart-pie" data="vm.chartData.sums" legend="true" labels="vm.chartData.labels" options="vm.chartConfig"></canvas>
    </div>
    <div ng-if="!vm.expenses.length">
      <h3 class="__title">
        You currently have no expenses!
      </h3>
      <h4 class="t-a-c">Add some and then come back here.</h4>
    </div>
  </ion-content>
</ion-view>
